.container
	.row
		.col-xs-12.visible-xs
			center
				img.advert(src="/images/advert_mobile.png", alt="Toks en Tjops")
		.col-xs-12.hidden-xs
			center
				img.advert(src="/images/advert_desktop.png", alt="Toks en Tjops")