#pleaseWait
	.alert.alert-info Wag asseblief, jou BokRapport word gelaai
#shareModal.modal
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button",data-dismiss="modal",aria-label="Close")
					span(aria-hidden="true") &times;
				h4.modal-title 
					strong Deel op Facebook
				//- h4.modal-title Só lyk jou BokRapport
			.modal-body
				canvas#gameCanvas(width=600,height=900,style="max-width:100%")
				.form-group
					label.form-label(for="boodskap") Boodskap
					textarea#message.form-control(name="boodskap")
			.modal-footer
				button#postFB.btn.btn-primary.btn-lg
					i.fa.fa-facebook
					|  Deel op Facebook
				button.btn-warning.btn.btn-lg(type="button",data-dismiss="modal",aria-label="Close") Sluit

