extends layout

block content
	.container
		include dateline
		include canvas
		if game.live
			.row
				.col-xs-12
					.alert.alert-info Skuif die rugbybal om 'n punt aan elke speler toe te ken.
			.row.players
				- var x = 0;
				each player in players
					include player
					if (x % 2)
						| </div><br style="clear:both" /><div class="row players">
					- x++
			//- .row
			//- 	.col-xs-12.center.margin-bottom-20
			//- 		#showFB.btn.btn-red.btn-lg Só lyk jou BokRapport
		else
			.alert.alert-info
				|  Dié wedstryd kan eers bepunt word wanneer dit afskop.