extends layout

block content
	.container
		include dateline
		if game.live
			.row.players
				each player in players
					include player
		else
			.alert.alert-info
				strong This BokRapport hasn't kicked off yet
				|  Sorry, this game isn't live yet. Please check back about 10 minutes before the end of the match.