extends layout

block content
	.container
		include dateline
		if game.live
			.row
				.col-xs-12
					.alert.alert-info Skuif die rugbybal om 'n speler te bepunt.
			.row.players
				- var x = 0;
				each player in players
					include player
					if (x % 2)
						| </div><br style="clear:both" /><div id="row" class="players">
					- x++
		else
			.alert.alert-info
				|  Dié wedstryd kan eers bepunt word wanneer dit afskop.