extends layout

block content
	.container
		include dateline
		if game.live
			.row.players
				- var x = 0;
				each player in players
					include player
					if (x % 2)
						| </div><br style="clear:both" /><div id="row" class="players">
					- x++
		else
			.alert.alert-info
				strong This BokRapport hasn't kicked off yet
				|  Sorry, this game isn't live yet. Please check back about 10 minutes before the end of the match.