doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/development/css/bokrapport.css')
		link(rel='stylesheet', href='/raty-2.7.0/lib/jquery.raty.css')
	body
		include navbar
		block content
		include js