doctype html
html
	head
		title BokRapport
		link(rel='stylesheet', href='/development/css/bokrapport.css')
		meta(name="viewport", content="width=device-width, initial-scale=1")
	body
		.bg-container
		include navbar
		block content
		include js