doctype html
html(lang="af")
	head
		title BokRapport
		link(rel='stylesheet', href='/development/css/bokrapport.css')
		link(rel="shortcut icon",href="/images/favicon.png")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
		meta(property="og:title",content="BokRapport")
		meta(property="og:url",content="http://bokrapport.com/")
		meta(property="og:type",content="website")
		meta(property="og:description",content="Ek het die Springbokke se vertonings op http://bokrapport.com beoordeel. Hoe lyk jou BokRapport?")
		meta(property="og:image",content="http://bokrapport.com/images/bokrapport-fb.jpg")
		meta(property="og:image:width",content="1200")
		meta(property="og:image:height",content="630")
		meta(charset="UTF-8")
	body
		.bg-container
		include navbar
		.content
			//- include advert
			block content
		include js