doctype html
html
	head
		title BokRapport
		link(rel='stylesheet', href='/development/css/bokrapport.css')
		link(rel="shortcut icon",href="/images/favicon.png")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(property="og:title",content="#{game.headline}")
	body
		.bg-container
		include navbar
		.content
			block content
		include js