// Fixed navbar
.navbar.navbar-default.navbar-fixed-top(role='navigation')
	.container
		div.row
			.col-xs-12
				if fbLoggedIn
					.profilePic(style="background-image:url(" + user.picture + ")")
				//- else
				//- 	a#fb.btn.btn-primary.fb-btn(type="button",href="/oauth/auth/facebook")
				//- 		i.fa.fa-facebook
				a.navbar-brand(href='/')
					img(src="/images/bokrapport.png")
		if (game)
			div.row
				.col-xs-11
					.fb-like(data-href="http://bokrapport.com/",data-layout="standard",data-action="like",style="max-width:100%")