// Fixed navbar
.navbar.navbar-default(role='navigation')
	.container
		.navbar-header
			button#fbDropdownBtn.btn.btn-primary.fb-btn.dropdown-toggle(type="button",data-toggle="fb-dropdown",aria-haspopup="true",aria-expanded="true")
				i.fa.fa-facebook
			ul.dropdown-menu(aria-labelledby="fbDropdownBtn")
				li
					a(href="#") Hello
			a.navbar-brand(href='/')
				img(src="/images/bokrapport.png")