// Fixed navbar
.navbar.navbar-default(role='navigation')
	.container
		.navbar-header
			if fbLoggedIn
				.myProfilePic
					img(src=user.picture)
			else
				a#fb.btn.btn-primary.fb-btn(type="button",href="/oauth/auth/facebook")
					i.fa.fa-facebook
			a.navbar-brand(href='/')
				img(src="/images/bokrapport.png")