@import "variables";

.numberpicker1 {
    // display: none;
	width: 100%;
    height: 40px;
    // background-color: #eee;
    // margin-left: -15px;
    // position: absolute;
    // bottom: 0px;
    // left: 0px;
    
    .slider-background {
        background-color: @green;
        height: 5px;
        // top: 18px;
        width: 100%;
    }

    .slider-background-container {
        padding-top: 18px;
    }

    .slider-icon {
    	font-size: 25px;
    	border: 1px #444 solid;
    	width: 40px;
    	height: 40px;
        border-radius: 20px;
    	text-align: center;
		line-height: 40px;
		margin-top: 0px;
		position: absolute;
		cursor: ew-resize;
		background-color: @gold;
		color: @green;
    }
}