@import "variables";

.players {
	.player {
		padding: 15px;
		background-color: rgba(255,255,255,0.8);
		margin-bottom: 30px;
		img {
			// float: left;
			// margin-left: -15px;
			// margin-bottom: -10px;
			max-width: 100%;
			// padding-right: 15px;
		}
		.player-identity {
			text-align: center;
			float: left;
			width: 40%;
		}
		.name {
			text-align: center;
			font-size: 12pt;
			padding: 8px;
			background-color: @gold;
			border: 1px darken(@gold, 10%) solid;
			font-weight: bold;
			// width: 50%;
			// float: left;
		}
		.ratings {
			float: left;
			width: 55%;
			margin-left: 5%;
			border-spacing: 0px 10px;
			border-collapse: separate;
			// float: left;
			.rating-description {
				text-align: right;
				padding-right: 10px;
				font-size: 26px;
				font-weight: bold;
				color: @green;
				img {
					// max-width: 100%;
				}
			}
			.rating {
				width: 50px;
				height: 50px;
				font-size: 30px;
				line-height: 36px;
				text-align: center;
				// display: table-cell;
				vertical-align: middle;
				margin-right: 10px;
				border-radius: 25px;

			}
		}
		.long_rating {
			width: 95%;
		}
		.user_rating {
			.rating {
				background-color: @green;
				color: @gold;
				width: 80px;
				height: 80px;
				border-radius: 40px;
			}
		}
		.rapport_rating {
			.rating {
				background-color: @red;
				color: white;
			}
		}
		.avg_rating {
			.rating {
				background-color: @gold;
				color: @green;
			}
		}
		.rating {
			img {
				max-width: 20%;
			}
		}

		.profilePic {
			background-repeat: no-repeat;
			background-size: cover;
			box-sizing: border-box;
			max-width: 16%;
			margin-right: 2%;
			background-color: #ccc;
		}
	}
}