@import "variables";

.players {
	.player {
		img {
			float: left;
			margin-left: -15px;
			margin-bottom: -10px;
			max-width: 25%;
			padding-right: 15px;
		}
		.name {
			font-size: 18pt;
			font-weight: bold;
			width: 50%;
			float: left;
		}
		.ratings {
			float: left;
		}
		.rapport_rating {
			width: 80px;
			height: 80px;
			background-color: @green;
			text-align: center;
			display: table-cell;
			vertical-align: middle;
			color: @gold;
			font-size: 40px;
			line-height: 80px;
		}
		.avg_rating {
			clear: both;
			width: 80px;
			height: 80px;
			background-color: @gold;
			text-align: center;
			display: table-cell;
			vertical-align: middle;
			color: @green;
			font-size: 40px;
			line-height: 80px;
		}
		.rating {
			img {
				max-width: 20%;
			}
		}
	}
}