@import "node_modules/bootstrap/less/bootstrap";
@import "variables";
@import "players";
@import "dateline";
@import "numberpicker";
@import "fontawesome";
@import "navbar";

// @import url(https://fonts.googleapis.com/css?family=EB+Garamond);
// @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
// @import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
// @import url(https://fonts.googleapis.com/css?family=Slabo:400,700);
// @import url(https://fonts.googleapis.com/css?family=Merriweather:400,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700);

body {
	font-family: 'Playfair+Display', serif;
}
.bg-container {
	width: 100%;
	height: 100%;
	position: fixed;
	background: url("/images/bg5.jpg") top center no-repeat fixed;
	background-size: cover;
}

.alert {
	position: relative;
}

.profilePic {
	display: inline-block;
	height: 40px;
	width: 40px;
	line-height: 40px;
	background-color: white;
	text-align: center;
	font-size: 30px;
	margin-top: 5px;
	border: 1px #888 solid;
	border-radius: 10px;
	overflow: hidden;
	background-size: contain;
	color: @gold;
}